<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1-2/jquery.js}"></script>
<link th:href="@{/bootstrap-3.3.7-dist/css/bootstrap.min.css}" rel="stylesheet">
<script th:src="@{/bootstrap-3.3.7-dist/js/bootstrap.min.js}"></script>
<title>添加银行卡</title>
<style type="text/css">
  #container{
  border:2px solid #EEEEEE;
  width:1300px;
 height:1000px;
  margin-left:250px;
  margin-top:2px;
  background-color:#F7F7F7;

 }
 #sub{
 background-color:#FF7800;
 }
#form{
  margin-left:350px;
  margin-top:120px;
}
.tt{
  margin-left:150px;
  margin-top:50px;
  position:absolute;
}
#bankTip{
  color:red;
  margin-left:-10px;
  margin-top:90px;
  position:absolute;
}
.warn{
  margin-left:400px;
  margin-top:20px;
  position:absolute;
}
</style>
</head>
<body>
<div th:include="header :: common"></div>
<div th:include="header :: nav"></div>
<div class="container">
<div class="tt">我的账户>银行卡管理><span style="color:red">添加银行卡</span></div>
 <input type="hidden" id="pwd" th:value="${pay}">
<p id="bankTip"></p>
<div id="form">
  <form role="form" class="form-horizontal" action="#" method="post">
     <div class="form-group">
       <label class="col-md-2 control-label">开户银行</label>
        <div class="col-md-4">
       		<select class="form-control input-lg" name="bankCard.id" id="bank">
       		 <option selected value="0">请选择开户银行</option>
       		 <option value="1">工商银行</option>
       		 <option value="2">中国银行</option>
       		 <option value="3">建设银行</option>      		       		 
       		 <option value="4">农业银行</option>
       		 <option value="5">交通银行</option>
       		 <option value="6">招商银行</option>
       		 <option value="7">邮政储蓄银行</option>
       		</select>
       </div>
     </div>
     
     <div class="form-group">
       <label class="col-md-2 control-label">银行卡号</label>
       <div class="col-md-4">
       <input type="text" class="form-control input-lg" id="cardid" placeholder="请输入银行卡号" name="cardid"/>
       <span id="cardTip" style="color:red"></span>
       </div>
     </div>
     
     <div class="form-group">
       <label class="col-md-2 control-label">开户地</label>
        <div class="col-md-4">
         <select class="col-md-5 input-lg" id="province" onchange="pro(this.value)" name="province">
       		 <option value="0">省</option>
       	  </select>
       	  <select class="col-md-5 input-lg" id="city" onchange="cit(this.value)" name="city">
       		 <option value="0">市</option>
       	 </select>	       	 
       </div>
     </div>
     <div class="form-group">
       <label class="col-md-2 control-label">银行预留手机号</label>
        <div class="col-md-4">
       <input type="text" class="form-control input-lg" placeholder="请输入手机号码" name="tel" id="phone"/>
       <span id="phoneTip" style="color:red"></span>
       </div>
     </div>    
      <div class="form-group">
       <label class="col-md-2 text-right">交易密码</label>
       <div class="col-md-4">
        <input type="password" id="pay"  class="form-control input-lg" placeholder="请输入交易密码"/>
        <span style="color:red" id="pwdTip"></span>
       </div>
     </div> 
    <div class="form-group">
      <div class="col-md-offset-2 col-md-4">
        <button type="button" id="sub"  class="btn btn-default btn-lg col-md-12">添加银行卡</button>
      </div>
     </div>
  </form>
</div>	
</div>
<div th:include="footer :: common"></div>
</body>
</html>
<script type="text/javascript" th:src="@{/scripts/bankCard.js}"></script>
<script type="text/javascript">
var bankState = false;
var phoneState = false;
var bState = false;
	/* 验证银行卡 */
	$("#cardid").blur(function(){
		var cardid =  $("#cardid").val();
		var reg=/^([1-9]{1})(\d{14}|\d{18})$/;
		if (cardid!=null && reg.test(cardid)==true){
			$("#cardTip").html("");	
			bankState=true;
			$.ajax({
				   dataType:"json",
				   type: "post",
				   url: "/customer/bank/exist.do",
				   data: {"cardid":cardid},
				   success:function(data){			
					  if(data==1){
						  $("#cardTip").html("该银行卡已存在，不能重复添加");
						  $("#sub").attr("disabled",true);
					}else{
						 $("#cardTip").html("");
						 $("#sub").attr("disabled",false);
					}
				}			   
			})
		}else{
			$("#cardTip").html("银行卡号输入不合法");
		}		
	})
	/*验证手机号                      */
	$("#phone").blur(function(){
		var phone = $("#phone").val();
		var reg=/^1(3|4|5|7|8)\d{9}$/;
		if(phone!=null && reg.test(phone)==true){
			phoneState=true;
			$("#phoneTip").html("");
		}else{
			$("#phoneTip").html("手机号输入不合法");
		}
	})
	
	
	
$(function(){
	      $("#sub").click(function(){
	      var pwd = $("#pwd").val();
	      var pay = $("#pay").val();
		  var bank = $("#bank").val();
		  var cardid = $("#cardid").val();
		  var pro = $("#province").val();
		  var city = $("#city").val();
		  var phone = $("#phone").val();
		  if(pwd==pay){
			  $("#pwdTip").html("");
			  if(bankState && phoneState && bank!=0 && pro!=0 && city!=0){
				  $("#bankTip").html("");
				  $.ajax({
					   dataType:"json",
					   type: "post",
					   url: "/customer/bank/yan.do",
					   data: {"cardid":cardid},
					   success:function(data){
						  var info  = data.info;					
						  if(info=="成功"){
							 submit(bank,cardid,pro,city,phone); 
						  }else{
							  $("#bankTip").html(info);
						  }
					}			   
				})			
			  }else{
				  $("#bankTip").html("请填写完整的信息！"); 
			  }
		  }else{
			  $("#pwdTip").html("交易密码错误");
		  }
	  });	  
  }) 
  
 function submit(bank,cardid,pro,city,phone){
	  var msg = "addsuc";
	  $.ajax({
		   dataType:"json",
		   type: "post",
		   url: "/customer/bank/add.do",
		   data: {"cardid":cardid,"bankcardid":bank,"province":pro,"city":city,"tel":phone},
		   success:function(data){
			  if(data==1){
				alert("添加成功！")
				location.href="/customer/bank/cards.do?msg="+msg;
			  }else if(data==0){
				  alert("添加失败，请重新添加！");
			  }
		   }			   
	})	
}
</script>

