<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<footer th:fragment="common"> 
		<style type="text/css">
			body {
				margin: 0;
			}
			#bottom {
				width: 100%;
				height: 11.5rem;
				background-color: gainsboro;
				text-align: center;
				padding: 5px;
			}
			#one {
				margin-top: 20px;
				margin-bottom: 25px;
			}
			#kf {
				font-size: 28px;
			}
			#gginfo {
				font-size: 12px;
			}
		</style>
		<div id="bottom">
			<div id="one">
				<span id="kf">客户服务 666-888-6688</span><br />
				<span id="wt">常见问题 | 交易指南</span><br /><p></p>
			</div>
			<span id="gginfo"> 版权所有 © 嘎嘎基金股份有限公司 未经许可不得复制、转载或摘编，违者必究!<br />
Copyright ©Ga Ga INSURANCE (GROUP) COMPANY OF CHINA ,LTD. All Rights Reserved</span>
		</div>
	</footer>
</html>
