<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- 黄炜 -->
<meta charset="UTF-8">
<title>账户充值</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}">
<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1-2/jquery.js}"></script>
</head>
<style type="text/css">
	#zcgl{
		background-color:darkorange;
	}
	#content{
		background-color:#f9f9f9;
		whdth:100%;
		height:500px;
	}
	#charge_form{
		margin:0 14% 0 14%;
		height:450px;
		background-color:#fff;
		border:solid 1px #ddd;
		padding:5%;
	}
</style>
<script type="text/javascript">
	$(function(){
		$("#bank").change(function(){
			if(bank == ""){
				$("#err1").text("请选择充值银行卡！")
			}else{
				$("#err1").text("")
			}
		})
		$("#money").keyup(function(){
			$("#err2").text("")
		})
		$("#btn_check").click(function(){
			var id = $("#bank option:checked").attr("id");
			//相关验证
			var bank = $("#bank").val();
			if(bank == ""){
				$("#err1").text("请选择充值银行卡！")
				return;
			}else{
				$("#err1").text("")
			}
			var money = $("#money").val();
			var reg = /^([1-9][0-9]*)+(.[0-9]{1,2})?$/
			if(money == ""){
				$("#err2").text("请输入充值金额！")
				return;
			}else if(money == 0){
				$("#err2").text("充值金额必须大于零！")
				return;
			}else if(!reg.exec(money)){
				$("#err2").text("金额必须为数字！")
				return;
			}else{
				$("#err2").text("")
			}
			$.post({
				url:"/customer/checkRecharge.do",
				type:"post",
				async:true,
				data:{"id":id,"money":money},
				success:function(reg){
					if(reg=="1"){
						document.write("<form action='/customer/toRechargeTwo.do' method='post' name='form1' style='display:none'>");  
						document.write("<input type='hidden' name='money' value='"+money+"'/>"); 
						document.write("<input type='hidden' name='cardid' value='"+id+"'/>"); 
						document.write("</form>");  
						document.form1.submit(); 
					}else{
						$("#err2").text(reg);
					}
				}
			})
		})
	})
			
</script>
<body>
	<!-- 头部 -->
	<div th:include="header :: common"></div>
	<!-- 导航栏 -->
	<div th:include="header :: nav"></div>
	<!-- 内容 -->
	<div id="content">
		<div id="charge_form">
			<form class="form" method="post" style="font-size:18px;">
				<div class="form-group row">
					<label class="col-md-3 text-right">嘎嘎余额</label>
					<div class="col-md-7"><span th:text="${asset}==null?'0.00元':${asset.surplus}+'元'" style="color:darkorange;font-weight: bold;"></span></div>
				</div>
				<div class="form-group row">
			      <label for="bank" class="col-md-3 col-form-label text-right">充值银行卡</label>
			      <div class="col-md-6">
			      	<select id="bank" class="form-control form-control-lg">
			      		<option value="">请选择银行卡</option>
			      		<option th:each="ubc:${list_ubc}" th:id="${ubc.cardid}" th:text="${ubc.bankCard.bankname}+' | 尾号'+${#strings.substring(ubc.cardid,15,19)}"></option>
			      	</select>
			      </div>
			      <span id="err1" class="col-md-3" style="color:red;"></span>
			    </div>
			    <div class="form-group row">
			      <label for="money" class="col-md-3 col-form-label text-right">充值金额</label>
			      <div class="col-md-6">
			      	<input type="text" class="form-control form-control-lg" id="money" maxlength="6" placeholder="请输入充值金额">
			      </div>
			      <span id="err2" class="col-md-3" style="color:red;"></span>
			    </div>
			    <div class="form-group row">
			    	<label class="col-md-3 text-right">到账时间</label>
					<span class="col-md-8 font-weight-bold">实时到账</span>
			    </div>
			    <button class="btn btn-lg col-lg-6" id="btn_check" type="button" style="background-color:darkorange;color:#fff;margin:2% 20%">下一步</button>
			</form>
		</div>
	</div>
	<!-- 底部引用 -->
	<div th:include="footer :: common"></div>
</body>
</html>