<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zl.fund.mapper.AssetMapper">
  <resultMap id="BaseResultMap" type="com.zl.fund.pojo.Asset">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="SURPLUS" jdbcType="DECIMAL" property="surplus" />
    <association property="user" column="userid" javaType="com.zl.fund.pojo.User" select="com.zl.fund.mapper.UserMapper.selectByPrimaryKey"></association>
  </resultMap>
  
  <insert id="insert" parameterType="com.zl.fund.pojo.Asset">
    insert into TB_ASSET (ID, USERID, SURPLUS
      )
    values (#{id,jdbcType=DECIMAL}, #{userid,jdbcType=DECIMAL}, #{surplus,jdbcType=DECIMAL}
      )
  </insert>
  <update id="updateSurplus" parameterType="com.zl.fund.pojo.Asset">
    update TB_ASSET
    set SURPLUS = #{surplus,jdbcType=DECIMAL}
    where userid = #{user.id,jdbcType=DECIMAL}
  </update>
  <!-- 根据主键查询 -->
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select ID, USERID, SURPLUS
    from TB_ASSET
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <!-- 根据用户id查询 -->
  <select id="queryAssetByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select ID, USERID, SURPLUS
    from TB_ASSET
    where USERID = #{userid,jdbcType=DECIMAL}
  </select>
</mapper>