<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zl.fund.mapper.TradeTypeMapper">
	<select id="queryTradeTypeById" parameterType="java.lang.Integer" resultType="com.zl.fund.pojo.TradeType">
		select * from tb_tradeType where id=#{id,jdbcType=DECIMAL}
	</select>
  
</mapper>